@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgba(0, 100, 100, 0.8);
  line-height: 1.5;
  height: 100%;
  color: #fff;
}

h1, h2, h3 {
  margin: 0;
  width: auto;
  max-width: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}


/***** PRELOADING ICON *****/
/*#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 2px solid rgba(0, 100, 100, 0.7);
  border-radius: 50%;
  border-top: 16px solid #ff7400;
  border-right: 16px solid rgb(0, 100, 100);
  border-bottom: 16px solid #2a2a40;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/***** END OF PRELOADING ICON *****/


/***** INDEX PAGE *****/
.menu-btn {
  position: fixed;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.menu-btn .btn-line {
  width: 30px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #ff7400;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu.show {
  visibility: visible;
  overflow: hidden;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(0, 100, 100, 0.9);
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu-nav .nav-item a {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 2rem;
} 
.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: rgba(0, 100, 100, 0.9);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-item.active > a {
  color: #ff6200;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 23px;
  text-transform: uppercase;
  padding: 1rem 0;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.menu .nav-link:hover {
  color: #ff6200;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

header#navbar {
  /*position: fixed;
  z-index: 2;
  width: 100%;*/
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
  background: #2a2a40;
}

h1.lg-heading, h2.lg-heading, h3.lg-heading {
  font-size: 3.5rem;
}

h1.sm-heading, h2.sm-heading, h3.sm-heading {
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(0, 128, 128, 0.9);
  color: #fff;
  font-size: 1.8rem;
  border-radius: 10px;
}
main .orange {
  color: #ff6200;
}
main .icons {
  margin-top: 2rem;
}
main .icons a {
  margin-right: 2rem;
}
main .icons a:hover {
  color: #ff6200;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}
main.welcome-section {
  overflow: none;
}
main.welcome-section h1 {
  margin-top: 20vh;
}
.main-footer {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  color: silver;
  padding: 1rem;
  height: 60px;
  bottom: 0;
  font-size: 1.2rem;
}
/***** END OF INDEX PAGE *****/



/***** ABOUT PAGE *****/
.about-info {
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
  /*-ms-grid-columns: 1fr;*/
  grid-template-columns: 1fr;
}
.about-info .bioimage {
  background: url('../img/me5.jpg');
  background-size: cover;
  margin: auto;
  width: 199px;
  height: 225px;
  max-width: 100%;
  border-radius: 20px; 
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}
.about-info .resume a {
  background-color: rgb(0, 100, 100);
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
} 
.about-info .resume a:hover {
  color: #fff;
}
.about-info .bio h5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
}
.about-info .lang-and-tools {
  background-color: rgba(0, 100, 100, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  border-bottom: solid 3px #ff6200;
  max-width: 100%;
}
.techSkill {
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  justify-content: center;
  -ms-grid-template-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr); 
}
/***** END OF ABOUT PAGE *****/



/***** CONTACT ME PAGE *****/
.contact-info {
  font-family: 'Rubik', sans-serif;
} 
/***** END OF CONTACT ME PAGE *****/



/***** MEDIA QUERY *****/
@media screen and (max-width: 875px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 2.2rem;
  }
  main .sm-heading {
    font-size: 1.5rem;
  }
  .about-info .bio h5 {
    font-size: 1rem;
  }
  .about-info .lang-and-tools .orange {
    font-size: 1.6rem;
  }
  ul.menu-nav, div.menu-branding {
    width: 100%;
    min-height: 0;
    height: 50vh;
  }
  ul.menu-nav.show, div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 70vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 20px;
  }
  .menu-nav .nav-item a {
    font-size: 1.4rem;
  } 
  .menu-branding {
    height: 30vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait img {
    background-size: cover;
    height: 40vh;
    border-radius: 15px;
  }

  main .icons a {
    margin-right: 1rem;
  }

  /*.projects {
    -ms-grid-template-columns: 1fr;
        grid-template-columns: 1fr;
  }*/
  .techSkill {
    -ms-grid-template-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr); 
  }
}
